/* CSS DOCUMENT */

body {
    background-color: #f4f8fe;
    font-family: sans-serif;
}
h1 {
    
    font-size: 3em;
    text-transform: uppercase;
    font-family: serif;
    color: #433a7a;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    border-bottom: double;
    border-bottom-color: #6a6a6b;
    
}

h2 {
    font-family: serif;
    color: #4a3e92;
    text-align: center;
    font-size: 1.75em;
    font-weight: normal;
        
}

h3 {
    font-family: serif;
    color: #4b4b4b;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
}

ul { 
    list-style-type: none; 
}

h4 {
    text-align: center;
    color: #4a3e92;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin: 2em 0 0;
    
}

p {
    text-align: center;
    color: #6a6a6b;
   text-transform: capitalize;
    font-weight: lighter;
    margin: .5em 0;
    
}